# Original URL, Mirror URL, Mirror Password/Access Token
[{"repo":"https://github.com/chirmstream/CloneLab.git"}, {"mirror_repo":"https://github.com/chirmstream/CloneLab-Testing.git"}, {"mirror_pass":"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"}]